.hover_pointer:hover{
	cursor:pointer;
}
.hideme{
	display:none;
}
.checking{
	display:none !important;
}
.hidegsb{
	display:none;
}
.abcRioButtonContentWrapper{
	background-color:#007bff;
}
.hidescroll
{
	overflow:auto !important;
}
.hidescroll::-webkit-scrollbar-track
{
	cursor:pointer !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.hidescroll::-webkit-scrollbar
{
	cursor:pointer !important;
	width: 5px;
	background-color: transparent;
}

.hidescroll::-webkit-scrollbar-thumb
{
	cursor:pointer !important;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a3ff12;
}
#ga_iid{
	text-transform: lowercase !important; 
}
#my-signin2:hover .abcRioButtonContentWrapper{
		background-color:#a3ff12;
		color:#007bff;
		font-weight:bold;
}
.abcRioButton {
	margin-top:10px;
}
#logout_btn:hover{
		color:#007bff;
		font-weight:bold;
}
#ga_tc:hover{
	color:#007bff !important;
}
.theme_blue{
	color:#007bff !important;
}
.theme_blue_bg{
	background-color:#007bff !important;
}
.theme_green{
	color:#a3ff12 !important;
}
.theme_green_bg{
	background-color:#a3ff12 !important;
}
.f_15{
	font-size:15px !important;
}
.f_12{
	font-size:12px !important;
}
.f_10{
	font-size:10px !important;
}
.glow_frame {
  color: #007bff;
  text-align: center;
  -webkit-animation: glow_frame 1s ease-in-out infinite alternate;
  -moz-animation: glow_frame 1s ease-in-out infinite alternate;
  animation: glow_frame 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow_frame {
  from {
    box-shadow: 0 0 3px #007bff, 0 0 4px #007bff, 0 0 5px #a3ff12, 0 0 6px #a3ff12, 0 0 7px #a3ff12, 0 0 8px #a3ff12, 0 0 9px #a3ff12;
  }
  
  to {
    box-shadow: 0 0 5px #a3ff12, 0 0 6px #007bff, 0 0 7px #007bff, 0 0 8px #007bff, 0 0 9px #007bff, 0 0 10px #007bff, 0 0 11px #007bff;
  }
}
.btn-youtube {
    color: #fff;
    background-color: red;
}
.btn-check {
    color: #212529;
    background-color: #a3ff12;
}
.btn-check:hover {
    background-color: #88df00;
}
.whiteinput{
	color:#fff !important;
}
.whiteinput::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff !important;
}
.whiteinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff !important;
}
.whiteinput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff !important;
}
.whiteinput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff !important;
}
/* MODAL ALERTS */
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  margin-left: -200px;
  text-align:center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 21;
  width: 360px;
  box-shadow:0 5px 10px rgba(0,0,0,0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  border: solid #a3ff12 3px;
  pointer-events: auto !important;
}
.modal-body {
  padding: 20px;
}
.modal-header,.modal-footer {
  padding: 10px 20px;
  z-index:22;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2, .modal-body h2 {
  font-size: 20px;
  margin-bottom:-5px;
}